.logo {
    background-image: url('http://localhost:3000/images/Marvel-comics-logo-vector.png');
    background-repeat: no-repeat;
    background-size:contain;
    width: 124px;
    height: 50px;
    margin: 8px 24px 0 0;
    float: left;
}